<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Request-Counter</title>
    </head>
    <body>
        <table style="border-collapse: collapse; font-size: 40px">
            <tr>
                <td style="border: solid 1px">Method</td>
                <td style="border: solid 1px">Count</td>
            </tr>
            {% for key, value in counters.items() %}
                <tr>
                    <td style="border: solid 1px">{{ key }}</td>
                    <td style="border: solid 1px">{{ value }}</td>
                </tr>
            {% endfor %}
        </table>
        <div style="display: inline"><br>
            <a href="{{ url_for('request_counter') }}" style="font-size: 40px">GET</a>
        </div>
        <div><br>
            <form action="{{ url_for('request_counter') }}" method="post">
                <input type="submit" value="Post" style="font-size: 40px">
            </form>
        </div>
    </body>
</html>